.boardWrapper {
  margin: 2rem 0px;
  padding: 0px 15px;
}

.activityHeader {
  margin-bottom: 2rem;
}

.title {
  font-size: 14px;
  font-family: Montserrat,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: RGBA(0, 0, 0, 0.36);
}

.total {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #4A5568;
}

.total> span {
  font-size: 14px;
  color: #718096;
  font-weight: 500;
}

.activityCenter {
  display: flex;
  align-items: center;
}

.activityDateTime {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.activityDesc> p {
  font-size: 14px;
}