.wrapperHeader {
  margin-top: 10px;
  padding: 10px 15px;
}

.wrapperSubheader {
  padding: 20px 15px;
}

@media (min-width: 900px) {
  .wrapperHeader {
    grid-template-columns: auto 20rem;
  }
}